<div class="container">
  <div class="alert alert-info">
    <h4 class="alert-heading">Account Pending Verification</h4>
    Your account is not yet confirmed. Look for an email with subject "Please confirm your account" and open the provided link.
  </div>
</div>
