.audio-top-bar, .audio-bottom-bar {
  display: table;
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 12px;
}

.audio-wrapper {
  margin-top: 10px;

  .btn-link {
    color: #0099cc;
  }

  img {
    max-width: 100%;
    max-height: 140px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
}

.audio-top-bar {

  .audio-current-time {
    display: table-cell;
    width: 15%;
  }

  .audio-progress {
    display: table-cell;
    width: 70%;
    padding:0 20px;

    .slider.slider-horizontal {
      width: 100%;

      .slider-handle {
        top: 1px;
        width: 16px;
        height: 16px;
        margin-left: -8px;
      }

      .slider-track {
        height: 8px;
      }

      .slider-selection {
        background: #2196f3;
      }
    }


  }

  .audio-total-time {
    display: table-cell;
    width: 15%;
  }
}

.audio-bottom-bar {

  .audio-speed {
    display: table-cell;
    width: 15%;
  }

  .audio-back, .audio-forward {
    display: table-cell;
    width: 20%;
    font-size: 18px;

    .btn {
      //border-radius: 25px;
      padding: 6px 11px;

      &:focus {
        outline: none;
      }
    }
  }

  .audio-play-pause {
    display: table-cell;
    width: 30%;

    .btn {
      //border-radius: 32px;
      font-size: 22px;
      padding-top: 8px;
      padding-left: 18px;

      &:focus {
        outline: none;
      }
    }
  }

  .audio-download {
    display: table-cell;
    width: 15%;
  }
}


.slider-range-container {
  margin: 30px 0;
  .slider-handle.custom {
    background: transparent none;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    /* You can customize the handle and set a background image */
  }

  /* Or display content like unicode characters or fontawesome icons */
  .slider-handle.custom::before {
    content: "\f276";
  }
}

.slider-rangeHighlight {
  background: #2196f3;
  opacity: .6;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}

.audio-top-bar .audio-progress {
  .slider-player-container {

    margin-top: 30px;

    .slider.slider-horizontal {

      .slider-selection {
        background: none;
      }
    }
  }
}


.audio-editor {
  .audio-top-bar, .audio-bottom-bar {
    font-size: 16px;
  }
}

.close-button {
  margin-top: 10px;
}

.clips-overview {
  height: 18px;
  position: relative;
  top: 8px;

  .clip-small {
    position: absolute;
    height: 18px;
    background: rgba(53, 124, 165, 0.6);
    cursor: pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.clip-selected {
  .box-body, .box-footer {
    background: rgba(0, 192, 239, 0.1) !important;
  }
}

.clip-small.clip-selected {
  background: rgba(0, 192, 239, 0.8) !important;
}

.wavesurfer-region.selected, .clip-form.selected {
  background: rgba(0, 192, 239, 0.2) !important;

  .wavesurfer-handle {
    border-color: #00c0ef !important;
  }
}

.wavesurfer-region {
  background-color: rgba(150, 150, 150, 0.1) !important;

  .wavesurfer-handle {
    background: transparent;
    min-width: 4px;
    max-width: 4px !important;
    border-left: 1px solid #999;
  }
}

wave::-webkit-scrollbar-track, .clips::-webkit-scrollbar-track
{
  //-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
  background-color: rgba(100,100,100,0.05);
}

wave::-webkit-scrollbar, .clips::-webkit-scrollbar
{
  height: 10px;
  width: 10px;

}

wave::-webkit-scrollbar-thumb, .clips::-webkit-scrollbar-thumb
{
  background-color: rgba(100, 100, 100, .5);
}

.clips {
  //overflow-y: scroll;
  //overflow-x: hidden;
  /* padding-right: 19px; */
  //padding: 2px;

}

.clip-edit {
  background: #fff;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin: 0 -2px;
}

//.sticky {
//  z-index:1;
//  background: #fff;
//  padding-top:20px;
//  box-shadow: 0 2px 1px rgba(0,0,0,0.1);
//  padding-left: 10px;
//  padding-right: 10px;
//  right: 16px;
//  left: 261px;
//  width: auto !important;
//
//  .clip-edit {
//
//    //margin-top:66px;
//  }
//}

.clip-edit > div > div > wave {
  transform:rotateX(180deg);
  border: 1px solid #ddd;
  border-bottom: 0;
}

.btn-target {
  color: rgba(53, 124, 165, 1);
}

#edit-word {
  width: 160px;
  top:initial;
  left: 8px;
  bottom: 46px;
  border-radius: 14px;
  border: 1px solid #bbb;
  box-shadow: 0 3px 1px rgba(0,0,0,.2);

  > .arrow {
    left: 28px;
  }

  .popover-content {
    padding: 8px;

    label {
      font-weight: 400;
      font-size: 12px;
      margin: 0;
    }

    input.form-control {
      border-radius: 10px;
    }

    .word-time {
      text-align: center;
      margin-bottom: 6px;
    }

    .word-switch {
      display: inline-block;
      height: 18px;
      width: 20px;
      vertical-align: top;
      margin: 0 8px;
    }

    .fa-chevron-right {
      float: right;
      margin-top: 3px;
    }

    .fa-chevron-left {
      float: left;
      margin-top: 3px;
    }

    .btn {
      margin-top:6px;
    }
  }
}

.audio-rate-slider {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
}



h5.clip-block-title {
  font-size: 16px;
  color: #555;
  margin-left: 18px;
}

.sticky-clip {
  z-index: 1;
  top: -46px !important;
}

.no-sticky {
  position: relative !important;
}

.sticky-container {
  position: relative;
  z-index: 850;
}

