@import "~@blueprintjs/core/lib/scss/variables";

.global-menu {



  .bp3-drawer {
    padding-top: 47px;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0), 1px 0px 1px rgba(16, 22, 26, 0.1);
  }

  .bp3-overlay.bp3-overlay-container {
    top: 50px;
    position: static;
  }

  .show-menu-item {
    align-items: center;

    > span {
      max-width: 160px;
      display: inline-block;
    }

    > img {
      border-radius: 3px;
      margin-right: 10px;
      height: 30px;
    }

  }


  .button-add-show {
    margin-top: 8px;
    float:right;
  }
}

.bp3-dark {
  .global-menu .bp3-drawer {
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.2), 0 0 0 rgba(16, 22, 26, 0), 1px 0px 1px rgba(16, 22, 26, 0.4);
  }
}


.sidebar {
  z-index: 4;
  position: absolute;
  top: 0px;
  bottom: 0;
  left:0;
  width: 100%;
  height: 100%;
  max-width: 257px;
  background: #fff;
  overflow-y: auto;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1);
  overflow-x: hidden;
  transition: left 0.2s ease-out;
  overflow: scroll;
  padding: 68px 15px;

  &.clip-sidebar {
    padding-bottom: 180px;


    .media-preview {
      position: relative;

      .media-replace-button {
        position: absolute;
        bottom: 4px;
        left: 0;
      }
    }
  }

  &.sidebar-left {
    z-index: 28;
    padding: 0px 15px;

    .bu-menu {
      padding-top: 60px;
    }
  }

  &.stick-to-top {
    z-index: 31;
    padding: 0px 15px;
  }


  &.fixed {
    position:fixed;
  }

  &.push-right {
    right:0;
    left:initial;
  }

  &.large {
    max-width: 440px;
  }

  &.large.closed {
    max-width: 340px;
    left: -438px;
  }

  &.closed {
    left: -260px;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  label.bp3-label {
    min-width: 100px;
  }

  .bp3-form-group .bp3-numeric-input .bp3-input {
    max-width: 80px;
  }

  .sidebar-divider {

  }



  .close-button {
    //position: absolute;
    position: absolute;
    right: 14px;
    top: 64px;
    z-index: 1;
  }

  &.wide {
    width: 600px;
    max-width: 100%;
  }



  .accordion-buttons {
    margin-bottom: 15px;

    .bp3-button {
      text-align: center;
    }
  }


  .accordion {

    //background: $light-gray5;

    .accordion-toggle {
      //box-shadow:inset 0 -1px 0 rgba(16, 22, 26, 0.1);
      //border-radius: 1px;
      justify-content: flex-start;
      min-height: 34px;

      .bp3-button-text {
        //flex: 1 100%;
        //text-align: center;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
      }

      box-shadow: 0 1px 0 0px rgba(16, 22, 26, 0.1), 0 1px 0 0px rgba(16, 22, 26, 0.1) inset;
    }

    .accordion-content {
      //overflow: auto;

      .bp3-button-group {
        flex-wrap: wrap;
      }

      //padding: 10px;
      //box-shadow: 0 1px 0 0px rgba(16, 22, 26, 0.1) inset, 0 -1px 0 0 inset rgba(16, 22, 26, 0.1);

      //box-shadow: inset 0 0px 8px 0px rgba(16, 22, 26, 0.05);
    }


    .bp3-collapse-body{

    }

  }

  .box-controls {
    display: inline-flex;
    align-items: flex-end;

    > .bp3-form-content {
      display: inline-flex;
      align-items: baseline;
    }

    > .bp3-form-group:first-child {
      margin-right: 15px;
    }

    label.bp3-label {
      min-width: initial;
      padding: 0 5px;

      &:first-child {
        padding-left: 0;
      }
    }
  }
}

.sidebar-portal .sidebar {
  position: fixed;


}

.bp3-dark .sidebar {
  background: $dark-gray4;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0), 1px 0px 1px rgba(16, 22, 26, 0.1);

  &.push-right {
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0), -1px 0px 1px rgba(16, 22, 26, 0.1);
  }
}
