<div id="signup" class="container">
  <h1 class="text-center">Beta Access</h1>
  <div class="generic-form">
    <p class="text-center">You need an invite code to access AudioDive. <a href="/contact">Contact us</a> to learn more</p>
    <hr/>
    <form action="signup" method="get">
      <div class="form-group">
        <label for="token">Invite Code</label>
        <input required class="form-control" id="token" name="token" type="text" placeholder="Code">
      </div>

      <div class="form-group">
        <button type="submit" class="btn-dark btn-lg btn-block">Apply Code</button>
      </div>
    </form>
    <p class="text-center">Have an account? <a href="/login">Sign in</a></p>
  </div>
</div>
